.header {
    text-align: center;
}

.test {
    margin: 50px 0 100px 0;
}

#gallerydisplay {
    width: 100%;
    margin-bottom: 50px;
    display: none;
}

#gallerydisplay img {
    max-width: 100%;
}

.gallerycenter {
    margin: 0 auto;
    text-align: center;
}

.thumbmain {
    float: left;
    position: relative;
    background-color: white;
}

.delete {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 100;
    background-color: white;
    opacity: 0.65;
}

.delete:hover {
    opacity: 1;
}

.thumbactual {
    margin: 10px;
    background-color: black;
}

.delete img {
    width: 40px;
    height: 40px;
}

.add {
    transform: rotate(45deg);
}

.gallerythumbs {
    width: 95%;
    margin: 50px 0 auto;
}

i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.left {
    float: left;
    width: 5%;
}

.galleryleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    float: left;
    width: 5%;
}

.galleryright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.displayactual {
    float: left;
    width: 80%;
    margin: 0 10px;
}

.thumbactual img {
    max-width: 100%;
}

#gallerydisplay .displayactual img {
    width: 100%;
}