body {
    margin: 0px;
}

.container {
    background-color: royalblue;
    width: 100%;
    min-height: 300px;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    margin: 10px;
    padding-top: 5px;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 24;
    margin: 10px;
    padding-top: 5px;
}

nav.navbar {
    background-color: cadetblue;
    width: 100%;
    padding: 5px 0px;
}

nav.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: darkred;
    font-family: 'Staatliches', cursive;
    letter-spacing: .1em;
}

nav.navbar ul {
    list-style-type: none;
    padding: 2px;
    margin: 0px;
    text-align: center;
}

nav.navbar li {
    border-bottom: 2px solid darkred;
}

nav.navbar li:last-child {
    border-bottom: none;
}

a:hover {
    background-color: white;
}

a:active {
    background-color: black;
}

img {
    display: inline-block;
    margin: 10px;
}

p {
    margin: 10px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: darkslategray;
}

input[type=text], select, textarea {
    width: 90%;
    border: 1px solid black;
    border-radius: 2px;
    padding: 6px;
    margin: 10px;
    margin-top: -15px;
    align: center;
}

.contact p {
    text-align: center;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 6px 50px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin:10px;
}

@media(min-width: 768px) {
    .container {
        background-color: dodgerblue;
        width: 750px;
        margin: 0px auto;
    }

    nav.navbar {
        width: 750px;
        margin: 0px auto;
    }

    nav.navbar li {
        display: inline-block;
        padding: 2px 10px;
        border-bottom: none;
        background-color: darkred;
    }

    nav.navbar a {
        color: cadetblue;
    }
}

@media(min-width: 992px) {
    .container {
        background-color: cornflowerblue;
        width: 960px;
    }

    nav.navbar {
        width: 960px;
        margin: 0px auto;
    }

    nav.navbar a {
        font-size: 24px;
    }

    nav.navbar li {
        display: inline-block;
        padding: 2px 10px;
        margin: 10px;
        border-bottom: none;
        background-color: darkred;
    }

    nav.navbar a {
        color: cadetblue;
    }

    .container p{
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }
}