/*****MARGIN & PADDING:
0px 0px : top/bottom & left/right

0px 0px 0px 0px : top, right, bottom, left
*****/
.content {
    padding: 0px 10px;
    min-height: 450px;
    border-bottom: 2px solid darkolivegreen;
    position: relative;
}

.content .img-container {
    min-height: 175px;
}

.content img {
    max-width: 100%;
}

.content .abs-pause {
    position: absolute;
}

#JokerOverSuperman {
    top: 30px;
}

#JkrTitle {
    top: 200px;
    right: 30px;
    color: lightcoral
}