.floater-section {
    float: left;
    width: 100%;
    min-height:500px;
    position: relative;
}

.clearfix {
    overflow: auto;
}

/**********SMALL SCREEN**********/
@media(min-width: 450px) {
    body {
        width: 430px;
        margin: 0 auto;
    }

    .container {
        width: 430px;
        margin: auto;
        background-color: turquoise;
    }

    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width: 66%;
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }
}

/**********MEDIUM SCREEN**********/
@media(min-width: 768px) {
    body {
        width: 750px;
        margin: 0 auto;
    }

    .container {
        width: 750px;
        margin: auto;
    }

    .medium-width-25 {
        width: 25%;
    }

    .medium-width-33 {
        width: 33.3333%;
    }

    .medium-width-50 {
        width: 50%;
    }

    .medium-width-66 {
        width: 66%;
    }

    .medium-width-75 {
        width: 75%;
    }

    .medium-width-100 {
        width: 100%;
    }
}

/**********LARGE SCREEN**********/
@media(min-width: 992px) {
    body {
        width: 960px;
    }

    .container {
        width: 960px;
        margin: auto;
    }

    .large-width-25 {
        width: 25%;
    }

    .large-width-33 {
        width: 33.333%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-66 {
        width: 66%;
    }

    .large-width-75 {
        width: 75%;
    }

    .large-width-100 {
        width: 100%;
    }
}